.form {
    background-color: #ffffff;
    border: 25px solid #ffffff;
    box-shadow: #3f51b5;
    border-radius: 25px;
    margin: 2em auto;
    width: 20em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: inline-block;
}

.form * {
    margin: 0.2em;
}

.form div + div {
    margin-bottom: 1em;
}

.forms {
    display: flex;
}

.letter-form {
    height: 25em;
    display: inline-block;
}

.parcel-form {
    display: inline-block;
}

.add-remove-button {
    margin: 2em auto;
    text-align: center;
    display: table;
}

.remove-button {
    margin: 0 auto;
    text-align: center;
    display: table;
}
